{
    "presets": [
        "react",
        "env"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": "less"
            }
        ]
    ],
    "env": {
        "development": {
            "presets": [
                "react-hmre"
            ]
        }
    }
}