.head {
  height: 60px;
  flex: 0 0 60px;
  line-height: 60px;
  box-shadow: 0 0 7px 1px #cecece;
  position: relative;
  .account {
    // width: 300px;
    padding-right: 10px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
}