@import '../../../utils/mixin.less';

.left-panel {
    min-width: 200px;
    height: 100vh;
    background: @background;
    .logo {
        width: 100%;
        text-align: center;
        line-height: 60px;
        .text {
            width: 100%;
            font-size: 25px;
            color: @text-checked;
        }
    }
}