@import '../../../utils/mixin.less';
.left-panel {
    width: 200px;
    height: 100vh;
    background: @background;
    flex: 0 0 200px;
    .logo {
        text-align: center;
        line-height: 60px;
        .text {
            font-size: 25px;
            color: @text-checked;
        }
    }
}